src/dist/
src/build/
src/*.egg-info/
**/__pycache__/

.svn/
.vscode

examples/*.log
testing/*.sh

**/OLD
**/*_old
**/*_OLD
**/*.OLD
**/*.old
**/*.bak
OLD
*_old
*_OLD
*.OLD
*.old
*.bak

install*.sh
publish*.sh
uninstall*.sh
test*.sh

TEMP
dist
